# Hidden files
.DS_Store
.envrc
.sass-cache
.yalc/
.netlify/
# Directories
build/
dist/
node_modules/
tmp/
visual-tests/bitmaps_test
visual-tests/html_report
# Files
Thumbs.db
npm-debug.log
yalc.lock
yarn-error.log
*~
