extends /_includes/_layouts/core

block config
  - pageTitle = "Border Width"
  - pageClasses = data.tailwind.getClasses('borderWidth', 'border-t');

block content
  .flcw.screenshot
    each className in pageClasses
      - const displayClassName = _.replace(className, '-t', '')
      .fln.flrnw.border-gray.mb-6(class=className)
        code.fla.code=`.${displayClassName}`

