extends /_includes/_layouts/core

block config
  - pageTitle = "Border Radius"
  - pageClasses = data.tailwind.getClasses('borderRadius', 'rounded');

block content
  .flrw.screenshot
    each className in pageClasses
      .fln.flrnw.flc.w-14.h-14.border-01.border-gray.m-1(class=className)
        code.code=`.${className}`
