extends /_includes/_layouts/core

block config
  - pageTitle = "Box shadow colors"
  - pageClasses = data.tailwind.getClasses('colors', 'shadow');

block content
  .flcw.screenshot
    each className in pageClasses
      .fln.flrnw.border-b-001.border-gray
        code.w-12.fln.code.py-1=`.${className}`
        .fln.bg-gray-1.w-14.h-10.flrnw.flc
          .w-10.h-7.bg-white.rounded.shadow-5(class=className)
