extends /_includes/_layouts/core

block config
  - pageTitle = "Debug"


block content
  p Adding .debug on an element will add colored outlines to each of its children
  .screenshot.debug
    .p-1 You can cut
      .p-1 our wings but
        .p-1 we will remember
          .p-1 what it was like
            .p-1 to fly
