extends /_includes/_layouts/core

block config
  - pageTitle = "Height"
  - pageClasses = data.tailwind.getClasses('height', 'h');

block content
  .flrw.screenshot
    each className in pageClasses
      .fln.flcnw.w-12.mb-01.mr-1
        code.w-12.fln.code=`.${className}`
        .fla.flcnw.bg-gray-3.h-20
          .fln.bg-green(class=className)

