extends /_includes/_layouts/core

block config
  //- see also: pageAuthor, pageImage, pageTwitter, pageUrl

block content
  p This website is both a playground to test custom classes, and a test suite for visual regressions
