block meta

- testString = "You can cut our wings but we will always remember what it was like to fly"

doctype html
html(lang='en')
  +norska_head
  body.arial
    include /_includes/header
    .pt-8.min-h-100vh.h-100p.flrnw
      .fln.w-14.border-r-001.bg-gray-3.border-gray-8.px-2.pb-1
        .flcnw
          each group in data.links
            h2.text-3.bold.mt-1=group.groupName
            each link in group.items
              a.fln.blue.hover_underline(href=`${url.pathToRoot}${link.url}/`)=link.name
      .fla.p-3
        block content
    +norska_scripts

